.modal {
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal h1 {
    font-size: 2.5em;
}

.modal h3 {
    font-size: .8em;
    color: #0000008b;
}

.btns{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: .5em;
}

.btns button {
    width: 100%;
    margin-top: .5em;
    padding: .8em 1em;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1em;
    font-weight: 700;
}

.github {
    background: #010101;
}

.linkedin {
    background-color: #0a66c2;
}

.google {
    background: #b4b2b2;
    color: #000 !important;
}

.btns button span{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 1%;
    border-radius: 5px;
}