.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Zilla Slab';
    color: var(--text-color);
    padding: 1em 0 1em 0;
}

.nav-items ul {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style-type: none;
}

.nav-items ul li a,
.nav-items ul li a,
.logo h1 a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--text-color);
}

.nav-items a:hover {
    color: var(--grey);
}

.signIn {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.signIn button {
    padding: .25em 2em;
    font-family: "Zilla Slab";
    font-size: 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--green);
}

.signIn .outline {
    content: "";
    display: inline-block;
    border: 1px solid var(--green);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20%;
    left: -5%;
    z-index: -1;
    border-radius: 5px;
}

.signIn button:hover {
    transform: translate(-5%, -20%);
}

.modal {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 40vw;
    z-index: 2;
    border: none;
    border-radius: 15px;
    animation: popupOpen .5s;
}

@keyframes popupOpen {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        width: 50vw;
        height: 90vh;
    }

    70% {
        scale: (0.9);
    }

    100% {
        height: 80vh;
        width: 40vw;
    }
}

.blob1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 12%;
}

.blob2 {    
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.modal::backdrop {
    background: #1f2733c0;
}

@media screen and (max-width: 962px) {
    .close::after {
        content: "\2716";
        font-size: 1.5em;
        position: absolute;
        top: 2.5%;
        right: 10%;
    }

    .blob1 {
        width: 20%;
        height: 20%;
    }

    .extra {
        display: flex;
        gap: 1.5em;
    }

    .hamburger {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin-top: .2em;
    }

    .bar {
        height: 3px;
        width: 100%;
        background-color: var(--text-color);
    }

    .nav-items {
        position: absolute;
        background-color: var(--text-color);
        top: 0%;
        left: -100%;
        width: 40%;
        z-index: 2;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-items ul {
        flex-direction: column;
    }

    .nav-items ul li,
    .nav-items ul li a {
        color: #12181b;
    }
}

@media screen and (max-width: 650px) {
    .nav-items {
        width: 100%;
    }
}