.main {
    height: fit-content;
    overflow: hidden;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    margin-top: 5%;
    color: var(--text-color);
}

.title {
    font-size: 80px;
    width: 50%;
    text-align: center;
    line-height: 1;
}

.desc {
    font-size: 30px;
    width: 75%;
    text-align: center;
}

.visual{
    width: 80%;
    height: 40%;
    margin-top: 2em;
    padding-bottom: 2em;
    z-index: 1;
}

.yellow {
    color: var(--yellow);
    position: relative;
}

.yellow:hover .speed {
    display: block;
}

.speed {
    position: absolute;
    bottom: 30%;
    right: 15%;
    width: 100%;
    display: none;
}

.pink {
    color: var(--pink);
}

.title, .desc {
    font-family: "Zilla Slab";
}

@media screen and (max-width: 962px) {
    .title {
        font-size: 50px;
    }

    .desc {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 40px;
    }

    .desc {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 30px;
    }

    .desc {
        font-size: 10px;
    }
}

/* FEATURES SECTION */
.features {
    height: 180vh;
    background: url('../../../public/WAVES/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -17%;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.column {
    height: 60vh;
    width: 80%;
    border-radius: 10px;
    margin-top: 1em;
    background-color: #37906F;
}

.column:nth-child(2) {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    background-color: transparent;
}

.column:nth-child(2) .box {
    border-radius: 10px;
    width: 33.3%;
    height: 100%;
    background-color: antiquewhite;
}

.column:nth-child(2) .box:nth-child(1) {
    background-color: #F85373;
}

.column:nth-child(2) .box:nth-child(2) {
    background-color: #E48080;
}

.column:nth-child(2) .box:nth-child(3) {
    background-color: #F1B6F9;
}