@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600;700&display=swap');

:root {
  --text-color: #C7CACA;
  --bg: linear-gradient(176deg,rgb(18,24,27) 50%,rgb(32,39,55) 100%);
  --green: #22C55E;
  --yellow: #EF9D0C;
  --pink: #CA4186;
  --grey: #7f82829c;
  --border: #6C7983;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all .5s ease;
}

body {
  background: var(--bg);
  height: fit-content;
}
